<section class="container">
  <form action="/member" method="post" class="membership">
    <h2>Join the Club</h2>
    <h3>Enter the Super Secret Password to Become a Member!</h3>
    <% if (locals.error) { %>
    <p class="error"><%= locals.error %></p>
    <% } %>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <button class="btn">Submit</button>
  </form>
</section>
