<%if (user) { %>
<section class="container">
  <% if(locals.content){ %> <% if(errors) { %> <% errors.forEach(error=> { %>
  <li><%= error %></li>
  <% }) %> <% }%>
  <form action="/new-post" method="post">
    <h1>Make a new Post</h1>
    <label for="title">Post title:</label>
    <input type="text" id="title" name="title" value="<%= content.title %>" />
    <label for="body">Post body:</label>
    <textarea name="body" id="body" cols="30" rows="10" value="<%= content.body %>"> </textarea>
    <button type="submit">Submit Post</button>
  </form>
  <% } else { %>
  <form action="/new-post" method="post">
    <h1>Make a new Post</h1>
    <label for="title">Post title:</label>
    <input type="text" id="title" name="title" />
    <label for="body">Post body:</label>
    <textarea name="body" id="body" cols="30" rows="10"> </textarea>
    <button type="submit" class="btn">Submit Post</button>
  </form>

  <% } %>
</section>

<% } else { %>
<section class="container">
  <h2>Only members may make posts</h2>
  <p>Please <a href="/login">Log In</a></p>
</section>
<% } %>
